@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap");

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  font-family: 'Pretendard';
}

@font-face {
	font-family: 'Pretendard-Black';
	src: url(./fonts/Pretendard-Black.woff);
}

@font-face {
	font-family: 'Pretendard-ExtraBold';
	src: url(./fonts/Pretendard-ExtraBold.woff);
}

@font-face {
	font-family: 'Pretendard-Bold';
	src: url(./fonts/Pretendard-Bold.woff);
}

@font-face {
	font-family: 'Pretendard-SemiBold';
	src: url(./fonts/Pretendard-SemiBold.woff);
}

@font-face {
	font-family: 'Pretendard-Medium';
	src: url(./fonts/Pretendard-Medium.woff);
}

@font-face {
	font-family: 'Pretendard-Regular';
	src: url(./fonts/Pretendard-Regular.woff);
}

@font-face {
	font-family: 'Pretendard-Light';
	src:url(./fonts/Pretendard-Light.woff);
}

@font-face {
	font-family: 'Pretendard-ExtraLight';
	src: url(./fonts/Pretendard-ExtraLight.woff);
}

@font-face {
	font-family: 'Pretendard-Thin';
	src:url(./fonts/Pretendard-Thin.woff);
}


body {
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", "Pretendard-Regular",ans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #262627;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  width: 100%;
  height: 100%;
}